<p id="notice"><%= notice %></p>

      <b> Commande du <%= @admin_order.created_at.strftime('%d/%m/%Y à %H:%M') %> d'un montant de <%= @admin_order.total %>€</b> 
      <%= link_to 'Show', admin_order_path(@admin_order.id) %>
      <%= link_to 'Edit', edit_admin_order_path(@admin_order.id) %>
      <%= link_to 'Destroy', admin_order_path(@admin_order.id), method: :delete, data: { confirm: 'Are you sure?' } %>

      <p> Réalisée par : <%= @admin_order.user.first_name + " " + @admin_order.user.last_name%> </p>
      <p> Contenu : </p>
      <ul>
      <% @admin_order.items.each do |item| %>
        <li><%= item.title %></li> 
      <% end %>
      </ul>


<div class="text-center">
  <%= link_to 'Edit', edit_admin_order_path(@admin_order), class:"btn btn-success" %> |
  <%= link_to 'Back', admin_orders_path, class:"btn btn-primary" %>
</div>