<main class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Editer le profil', edit_user_registration_path, class:"btn btn-success" %> |
<%= link_to '« Retour Accueil', root_path, class:"btn btn-primary" %>

<% Event.all.each do |event| %>
  <% if @user.id == event.admin.id %>
    <div class="card my-3">
      <div class="card-header">
        <h4><%= event.title %></h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">le <%= event.start_date %> à <%= event.location %></h5>
        <p class="card-text"><%= event.description %></p>
        <%= link_to 'Show', event, class:"btn btn-primary" %> 
        <% if user_signed_in? && current_user.id == event.admin.id %>
          <%= link_to 'Edit', edit_event_path(event), class:"btn btn-success" %> 
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        <% end %>
      </div>
      <div class="card-footer">
        Prix : <%= event.price %> € // Durée : <%= event.duration %> min
      </div>
    </div>
  <% end %>
<% end %>

</main>