

<% if @gossip.errors.any? %>
    <% @gossip.errors.full_messages.each do |message| %>
      <div class="container alert alert-danger d-flex justify-content-center alert-dismissible fade show" role="alert"><%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
<% end %>

<div class="container mt-5 form-group">
 <%= form_tag url_for(action: 'create'), method: "post" do %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <%= label_tag 'Titre du potin' %>
      <%= text_field_tag 'title', @gossip.title, class:"form-control" %>
      <br /> <br />

      <%= label_tag 'Contenu du potin' %>
      <%= text_area_tag 'content', @gossip.content, class:"form-control" %>
      <br /> <br />


      <%=select_tag "tag", options_from_collection_for_select(@tags, :id, :title), include_blank: true%>
      <br /> <br />

     <input type="hidden" name="user" value=<%= User.first.id %>>

      <%= submit_tag "Create Post", class:"btn btn-primary"%>

    <% end %>
</div>