<main class="container mt-5">
<h2 class="text-center">Mot de passe oublié ?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="group-from">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>
  <br>

  <div class="actions text-center">
    <%= f.submit "Envoyez-moi les instructions de réinitalisation svp", class:"btn btn-success" %>
  </div>
<% end %>
<br><hr><br>
<%= link_to '« Retour Accueil', events_path, class:"btn btn-primary" %>
