<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f56b9447bd.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
  <nav class="navbar navbar-default navbar-expand-lg bg-dark navbar-dark">
      <%= link_to "The Gossip Project", root_path, :class => "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item <%= 'active' if current_page?(root_path) %>">
            <%= link_to "Accueil", root_path, :class => "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(team_path) %>">
            <%= link_to "Team", team_path, :class => "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(contact_path) %>">
            <%= link_to "Contact", contact_path, :class => "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if session[:user_id] == nil%>
            <li class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                S'inscrire / Se connecter
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Inscription", new_user_path, :class => "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Connexion", new_session_path, :class => "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item dropdown">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.first_name + " " + current_user.last_name %>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Voir profil", user_path(current_user.id), class: "dropdown-item" %>
                <!--<%= link_to "Parametres", user_path(current_user.id), class: "dropdown-item" %>-->
                <div class="dropdown-divider"></div>
                <%= link_to "Se déconnecter", session_path(session.id), class:"dropdown-item", method: :delete %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <header class="container d-none d-lg-block mb-2">
      <%= link_to root_path do %>
        <%= image_tag "/images/banner.png" %>
      <% end %>
    </header>

    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
